<!DOCTYPE html>
<html>
<head>
    <title>{{title}}</title>
    <!-- Bootstrap và custom CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        body, html {
            height: 100%;
        }
        #content {
            min-height: calc(100vh - 60px); /* Giả sử footer cao 60px */
            padding-bottom: 60px; /* Đảm bảo nội dung không bị footer che khuất */
        }
        #footer {
            height: 60px;
            position: relative;
            bottom: 0;
            width: 100%;
        }
        .truncate {
            max-width: 150px; /* Đặt chiều rộng tối đa của cell */
            overflow: hidden; /* Ẩn nội dung dư thừa */
            white-space: nowrap; /* Ngăn chặn xuống dòng */
            text-overflow: ellipsis; /* Hiển thị dấu "..." khi nội dung quá dài */
        }

    </style>
</head>
<body>

<div id="content">
    {{> navbar }}

    {{{body}}}
</div>

<div id="footer">
    {{> footer }}
</div>

<!-- Bootstrap và JavaScript -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.6/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
